# Игнорировать конфигурационные файлы
config.py
nohup.out

# Игнорировать виртуальное окружение
venv/
.Venv/
env/
.venv/

# Игнорировать кэш-компиляции Python
__pycache__/
handlers/__pycache__/

# Игнорировать файлы компиляции
*.pyc
*.pyo

# Игнорировать системные файлы
.DS_Store
Thumbs.db
